h1, h2, h3, h4, h5, h6, p, li, th, td, tr, span {
    font-family: "Times New Roman", Georgia, Serif;
}
* {
    font-size: 9pt;
}
ol p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
h1 {
    font-size: 12pt;
}
h2 {
    font-size: 10pt;
}
p {
    font-size: 9pt;
    line-height: 18px;
}
.font-8 {
    font-size: 8pt;
}
.font-5 {
    line-height: 7pt;
    font-size: 7pt;
}
body {
    background-color: transparent;
    color: inherit;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.no-border, .no-border th, .no-border td, .no-outer-border {
    border: 0;
}
.table-text-left, .table-text-left td {
    text-align: left;
}
table.no-collapse, .no-collapse th, .no-collapse td {
    border-collapse: inherit;
}
ol {
    padding-left: 0;
}
ol.level-1 > li {
    font-size: 9pt;
    margin-bottom: 15px;
}
ol {
    counter-reset: item;
    list-style: none;
}

ol > li {
    counter-increment: item;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    margin-left: -20px;
}
li > span {
    font-weight: bold;
}
table {
    width: 100%;
}
td {
    text-align: center;
}
.requisites-table td {
    font-size: 10pt;
    text-align: left;
}
.requisites-table th {
    font-size: 8pt;
    text-align: left;
}
.text-left {
    text-align: left;
}
.text-center, td.text-center {
    text-align: center!important;
}
.text-right, td.text-right {
    text-align: right;
}
.table-footer {
    margin-right: 80px;
}
.table-footer-td {
    text-align: left;
}
.bottom {
    margin-top: 20px;
}
.signature span {
    border-top: 1px solid black;
    padding: 3px 15px 0;
    font-size: 7pt;
}
td.dot-line {
    border-bottom: 1px dotted black;
}
td.solid-line, span.solid-line {
    border-bottom: 1px solid black;
}
td.text-below, .text-below {
    font-size: 7pt;
}
.margin-10 {
    /* margin-top: 10px; */
}
td.border-left {
    border-left: 1px solid black;
}
.no-margin {
    margin: 0;
}
.margin-right {
    margin-right: 18%;
}
.list-rules {
    list-style-position: inside;
    text-indent: 40px;
}

li::before{
    position: absolute;
    left: 5px;
    z-index: 9999
}

ol{
    margin: 0;
}

p{
    margin: 0;
}

#docContainer{
    position: fixed;
    left: 0;
    top: 0;
}

#innerDocContainer{
    width: 750px !important;
    height: 1000px;
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    top: 500px;
    left: 375px;
    position: absolute;
}

.crossout{
    font-weight: normal;
    text-decoration: line-through;
}

.newPage{
    display: block;
    height: 2000px;
}

.normalFontWeight{
    font-weight: normal !important;
}

.piSplit{
    background-color: black;
    width: 100%;
    height: 1px;
    margin: 35px 0;
}

.nowrap{
    white-space: nowrap;
}
